services:
  - type: web
    name: campusgo-backend
    env: node
    plan: free
    buildCommand: "npm install"
    startCommand: "npm start"
    envVars:
      - key: PORT
        value: "10000" # أو أي port تريده